In [1]:
import pandas as pd

data = pd.read_csv('datasetfinal.csv')

data['Transaction_Date'] = pd.to_datetime(data['Transaction_Date'], errors='coerce')

data['Transaction_Month'] = data['Transaction_Date'].dt.month
data['Transaction_Day'] = data['Transaction_Date'].dt.day

data[['Transaction_Date', 'Transaction_Month', 'Transaction_Day']].head()

  Transaction_Date  Transaction_Month  Transaction_Day
0       2019-01-01                  1                1
1       2019-01-01                  1                1
2       2019-01-01                  1                1
3       2019-01-01                  1                1
4       2019-01-01                  1                1

In [2]:
data.to_csv('datasetfinal_new.csv', index=False)

In [3]:
print(data.head(10))

   CustomerID  Gender Location  Tenure_Months  Transaction_ID  \
0       17850       0  Chicago             12           16679
1       17850       0  Chicago             12           16680
2       17850       0  Chicago             12           16681
3       17850       0  Chicago             12           16682
4       17850       0  Chicago             12           16682
5       17850       0  Chicago             12           16682
6       17850       0  Chicago             12           16682
7       17850       0  Chicago             12           16682
8       17850       0  Chicago             12           16682
9       17850       0  Chicago             12           16696

  Transaction_Date     Product_SKU Product_Category  Quantity  Avg_Price  \
0       2019-01-01  GGOENEBJ079499         Nest-USA         1     153.71
1       2019-01-01  GGOENEBJ079499         Nest-USA         1     153.71
2       2019-01-01  GGOEGFKQ020399           Office         1       2.05
3       2019-01-01  GGOEGAAB010516          Apparel         5      17.53
4       2019-01-01  GGOEGBJL013999             Bags         1      16.50
5       2019-01-01  GGOEGBMJ013399             Bags        15       5.15
6       2019-01-01  GGOEGDHC018299        Drinkware        15       3.08
7       2019-01-01  GGOEGDHG014499        Drinkware        15      10.31
8       2019-01-01  GGOEGDWC020199        Drinkware         5       9.27
9       2019-01-01  GGOEGPJR018999        Lifestyle         1       1.24

   Delivery_Charges  Coupon_Status  Transaction_Month  Transaction_Day
0               6.5              1                  1                1
1               6.5              1                  1                1
2               6.5              1                  1                1
3               6.5              0                  1                1
4               6.5              1                  1                1
5               6.5              1                  1                1
6               6.5              0                  1                1
7               6.5              0                  1                1
8               6.5              1                  1                1
9               6.5              1                  1                1

In [4]:
data['Combined_Key'] = data['Transaction_ID'].astype(str) + "-" + data['Product_SKU']

In [5]:
data.to_csv('datasetfinal_new2.csv', index=False)

In [6]:
data = data.drop(['Transaction_ID', 'Product_SKU'], axis=1)

In [7]:
print(data.head(10))

   CustomerID  Gender Location  Tenure_Months Transaction_Date  \
0       17850       0  Chicago             12       2019-01-01
1       17850       0  Chicago             12       2019-01-01
2       17850       0  Chicago             12       2019-01-01
3       17850       0  Chicago             12       2019-01-01
4       17850       0  Chicago             12       2019-01-01
5       17850       0  Chicago             12       2019-01-01
6       17850       0  Chicago             12       2019-01-01
7       17850       0  Chicago             12       2019-01-01
8       17850       0  Chicago             12       2019-01-01
9       17850       0  Chicago             12       2019-01-01

  Product_Category  Quantity  Avg_Price  Delivery_Charges  Coupon_Status  \
0         Nest-USA         1     153.71               6.5              1
1         Nest-USA         1     153.71               6.5              1
2           Office         1       2.05               6.5              1
3          Apparel         5      17.53               6.5              0
4             Bags         1      16.50               6.5              1
5             Bags        15       5.15               6.5              1
6        Drinkware        15       3.08               6.5              0
7        Drinkware        15      10.31               6.5              0
8        Drinkware         5       9.27               6.5              1
9        Lifestyle         1       1.24               6.5              1

   Transaction_Month  Transaction_Day          Combined_Key
0                  1                1  16679-GGOENEBJ079499
1                  1                1  16680-GGOENEBJ079499
2                  1                1  16681-GGOEGFKQ020399
3                  1                1  16682-GGOEGAAB010516
4                  1                1  16682-GGOEGBJL013999
5                  1                1  16682-GGOEGBMJ013399
6                  1                1  16682-GGOEGDHC018299
7                  1                1  16682-GGOEGDHG014499
8                  1                1  16682-GGOEGDWC020199
9                  1                1  16696-GGOEGPJR018999

In [8]:
data.to_csv('datasetfinal_new3.csv', index=False)